{% for group in services.values %}
  <tr>
    <td colspan="8">{{ group.name }}</td>
  </tr>

  {% for subgroup in group.values %}

    {% if subgroup.name and subgroup.name != 'Нет' %}
        <tr>
          <td colspan="8">{{ subgroup.name }}</td>
        </tr>
    {% endif %}

    {% for service in subgroup.services_list %}
      <tr>
          <td>{{ service.code }}</td>
          <td>{{ service.name }}</td>
          <td>{{ service.blanks }}</td>
          <td>{{ service.biomaterials }}</td>
          <td>{{ service.container }}</td>
          <td>{{ service.due_date }}</td>
          <td>{{ service.result_type }}</td>
          <td>
              <a href="{% url 'edit' service.pk %}">Ред.</a>
          </td>
      </tr>
    {% endfor %}
  {% endfor %}

{% endfor %}
