.visible {
  display: none;
}

.group {
  background-color: Violet;
}

.subgroup {
  background-color: DarkOrange;
}

.service:hover {
  background-color: #E0FFFF;
}

.service.active:hover {
  background-color: #87CEEB;
}

.active {
  background-color: #87CEFA;
}

ul.buttons li {
  display: inline;
}

p.references {
  margin-bottom: 1px;
  line-height: 1;
}

td.sex {
  width: 50px;
}

td.age {
  width: 250px;
}

td.references {
  width: 130px;
}
