{% extends "nomenclature/base.html" %}
{% load static %}

{% block js %}
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/nomenclature.js' %}"></script>
{% endblock js %}

{% block content %}

<form class="coises">
  <p><input type="checkbox" name="blanks" class="toggle-blanks" >Какой-то текст</p>
</form>

<table border="1px solid black;">
    <tr id="0">
        <th>код</th>
        <th>Наименование</th>
        <th class='blanks'>Бланк</th>
        <th>Биоматериал</th>
        <th>Контейнер</th>
        <th>Срок выполнения</th>
        <th>Тип результата</th>
        <th>Кнопки</th>
    </tr>
</table>

{% endblock content %}
