{% extends "nomenclature/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}

{% block js %}
  <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
  <script src="{% static 'js/nomenclature.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock js %}

{% block content %}

  <form>
    <p><input type="checkbox" model="Service" name="code" class="toggle-blanks" checked> Код</p>
    <p><input type="checkbox" model="Service" name="name" class="toggle-name" checked> Наименование</p>
    <p><input type="checkbox" model="Service" name="blanks" class="toggle-blanks" checked> Бланки</p>
    <p><input type="checkbox" model="Service" name="biomaterials" class="toggle-biomaterials" checked> Биоматериалы</p>
    <p><input type="checkbox" model="Service" name="containers" class="toggle-containers" checked> Контейнеры</p>
    <p><input type="checkbox" model="Service" name="due_date" class="toggle-due-date" checked> Срок выполнения</p>
    <p><input type="checkbox" model="Service" name="result_type" class="toggle-result-type" checked> Тип результата</p>
    <p><input type="checkbox" model="Service" name="type" class="toggle-type"> Тип услуги</p>
  </form>

  <table class='table table-bordered'>
    <thead>
      <tr class="table-secondary" id="0">
        <th class='code'>код</th>
        <th class='name'>Наименование</th>
        <th class='blanks'>Бланк</th>
        <th class='biomaterials'>Биоматериал</th>
        <th class='containers'>Контейнер</th>
        <th class='due_date'>Срок выполнения</th>
        <th class='result_type'>Тип результата</th>
        <th class='edit_link'>Кнопки</th>
      </tr>
    </thead>
  </table>

{% endblock content %}
