{% extends "nomenclature/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block js %}
  <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
  <script src="{% static 'js/service.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock js %}

{% block content %}

    <ul class="buttons">
      {% if previous_service %}
        <li><a class="btn btn-primary step" href={% url 'view' pk=previous_service.pk %} role="button">{{ previous_service.name }} <<</a></li>
      {% endif %}
      {% if following_service %}
        <li><a class="btn btn-primary step" href={% url 'view' pk=following_service.pk %} role="button"> >> {{ following_service.name }}</a></li>
      {% endif %}
    </ul>

    <table class="table table-bordered">
      <tr>
        <th class='service_titles'>Код</th>
        <td>{{ service.code }}</td>
      </tr>
      <tr>
        <th class='service_titles'>Наименование</th>
        <td>{{ service.name }}</td>
      </tr>
      <tr>
        <th class='service_titles'>Бланки</th>
        <td>{{ service.blanks }}</td>
      </tr>
      {% if service.test_set.addendum_key %}
      <tr>
        <th class='service_titles'>Код выгрузки приложения в портал</th>
        <td>{{ service.test_set.addendum_key }}</td>
      </tr>
      {% endif %}

      <tr>
        <th class='service_bm'>Биоматериалы</th>
        <td>
          {% if service.bm_cont_groups %}
              {% for group_bm in service.bm_cont_groups.all %}
              <div class="bm_cont_group">
                <div class="bm_cont_group_btns">
                  <a href={% url 'delete_bc_group' pk=group_bm.pk %} class="btn btn-sm btn-primary">Удалить группу</a>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_bm_{{ group_bm.pk }}">
                    Добавить б/м в группу
                  </button>
                  <div class="modal fade" id="add_bm_{{ group_bm.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action={% url 'add_bm_cont' pk=group_bm.pk %} method="post">
                            {% csrf_token %}
                            <label for="exampleFormControlSelect1">Выберете биоматериал</label>
                            <select class="form-control" name="bm_cont">
                              {% for bm_cont in biomaterials_containers %}
                              <option value={{ bm_cont.pk }} width="500px">({{ bm_cont.container.code }}) {{ bm_cont.biomaterial.code }} - {{ bm_cont.biomaterial.name }}</option>
                              {% endfor %}
                            </select>

                            <button type="submit" class="btn btn-primary">Добавить биоматериал</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% if group_bm.biomaterial_container.all %}
                  {% for bm_cont in group_bm.biomaterial_container.all %}
                    <div class="bm_cont">
                      <p>{{ bm_cont.container.code }}</p>
                      <p>{{ bm_cont.biomaterial.code }} - {{ bm_cont.biomaterial.name }}</p>
                    </div>
                    {% if bm_cont != group_bm.biomaterial_container.last %}
                    <div class="and_bm">
                      <p>+</p>
                    </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                <span class='empty'>Пустая группа биоматериалов</span>
                {% endif %}
              </div>
                {% if group_bm != service.bm_cont_groups.last %}
                  <span>или</span>
                {% endif %}
              {% endfor %}

          {% else %}
          <p>-</p>
          {% endif %}
          <a href={% url 'add_bc_group' pk=service.pk %} class="btn btn-sm btn-primary">Добавить группу биоматериалов</a>
        </td>
      </tr>

      <tr>
        <th class='service_titles'>Ключ набора тестов</th>
        <td>{{ test_set.key_code }}</td>
      </tr>
      <tr>
        <th class='service_titles'>Контейнеры</th>
        <td>{{ service.container }}</td>
      </tr>
      <tr>
        <th class='service_titles'>Биоматериалы:</th>
        <td>{{ service.biomaterials }}</td>
      </tr>
      <tr>
        <th class='service_titles'>Тип результата:</th>
        <td>{{ service.result_type }}</td>
      </tr>
      <tr>
        <th class='service_titles'>Срок выполнения (для Москвы):</th>
        <td>
          {{ service.due_date }} дня(-ей)
        </td>
      </tr>
    </table>

    {% if med_data %}
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        РВПП
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <table class="table table-bordered">
          <tr>
            <th class='service_titles'>Альтернативные названия для КЦ</th>
            <td>{{ med_data.alter_name_KC }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Альтернативные названия</th>
            <td>{{ med_data.alter_name }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Примечание</th>
            <td>{{ med_data.note }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Объём ПП</th>
            <td>{{ med_data.volume_pp }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Контейнер для ПП</th>
            <td>{{ med_data.container_pp }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Инструкция по взятию ПП</th>
            <td>{{ med_data.guide_pp }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Условия транспортировки</th>
            <td>{{ med_data.transport_conditions }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Срок доназначения</th>
            <td>{{ med_data.term_assign }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Описание</th>
            <td>{{ med_data.description }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Метод исследования</th>
            <td>{{ med_data.method }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Влияние различных факторов на результат</th>
            <td>{{ med_data.factors }}</td>
          </tr>
          <tr>
            <th class='service_titles'>Подготовка к исследованию</th>
            <td>{{ med_data.preparation }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% endif %}

    <table class="table table-bordered">
        <tr>
          <th>
            <p>Тесты</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_test">
              Добавить тест
            </button>
          </th>
          <td>
            {% if references %}
            {% for test in references %}
              <p class='references'><b>{{ test.test_name }}</b></p>
              <p class='references'>Единицы измерения: {{ test.measure_unit }}</p>
              <p class='references'>Тип результата: {{ test.result_type }}</p>
              {% if test.result_type == 'NUMERIC' %}
              <p class='references'>Количество знаков после запятой <b>(пока по умолчанию - 5, потом заменим на реальные цифры)</b>: {{ test.decimal_places }}</p>
              {% endif %}
              <p>Референсы:</p>
              <table class='table-bordered'>
                <tr>
                  <th>Пол</th>
                  <th>Возраст</th>
                  <th>Численные референсы</th>
                  <th>Норма текстом</th>
                  <th>Клиническая интерпретация (автокомментарий)</th>
                </tr>
                {% for ref in test.references %}
                <tr>
                  <td class='sex'>{{ ref.sex }}</td>
                  <td class='age'>
                    <p class='references'>от {{ ref.age_from.0 }} лет {{ ref.age_from.1 }} месяцев {{ ref.age_from.2 }} дней</p>
                    <p class='references'>до {{ ref.age_to.0 }} лет {{ ref.age_to.1 }} месяцев {{ ref.age_to.2 }} дней</p>
                  </td>

                  <td class='references'>
                    {% if ref.lower_normal_value and ref.upper_normal_value %}
                    {{ ref.lower_normal_value }} - {{ ref.upper_normal_value }}
                    {% else %}
                    {% if ref.lower_normal_value %}
                    > {{ ref.lower_normal_value }}
                    {% endif %}
                    {% if ref.upper_normal_value %}
                    < {{ ref.upper_normal_value }}
                    {% endif %}
                    {% endif %}
                  </td>

                  <td class='normal_text'>
                    {% if ref.normal_text %}
                      {{ ref.normal_text }}
                    {% endif %}
                  </td>

                  <td class='reference interpretation'>
                  {% if ref.clinic_interpretation_key %}
                    <p>Ключ клин. интерпретации: <b>{{ ref.clinic_interpretation_key }}</b></p>
                    <p>Текст интерпретации:</p>
                    <p>{{ ref.clinic_interpretation_text }}</p>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </table>
            {% endfor %}
            {% endif %}
          </td>
        </tr>

      <div class="modal fade" id="add_test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action={% url 'add_test' pk=service.pk %} method="post">
                {% csrf_token %}
                <label for="exampleFormControlSelect1">Выберете тест</label>
                <select class="form-control" name="test">
                  {% for test in tests %}
                  <option value={{ test.pk }} width="500px">{{ test.short_name }} ({{ test.keycode }})</option>
                  {% endfor %}
                </select>

                <button type="submit" class="btn btn-primary">Добавить тест</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

              </form>
            </div>
          </div>
        </div>
      </div>
      <tr>
        <th class='service_titles'>Файлы</th>
        <td>
          <form class="upload_file" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_file_form.as_p }}
            <input type="submit" value="Загрузить" >
          </form>
          {% if files %}
            <table>
              {% for file in files %}
                <tr>
                  <td><a href="{% url 'download_file' pk=file.pk %}">{{ file }}</a></td>
                  <td><a class="btn btn-danger" href={% url 'delete_file' pk=file.pk %} role="button">УДАЛИТЬ</a></td>
                </tr>
              {% endfor %}
            </table>

          {% else %}
            <p>Для этого исследования не загружено файлов</p>
          {% endif %}

        </td>
      </tr>
    </table>
{% endblock content %}
