{% extends "nomenclature/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/service.js' %}"></script>
{% endblock js %}

{% block content %}
    <a href="/">К номенклатуре</a>
    <table>
      <tr>
        <th>Код</th>
        <td>{{ service.code }}</td>
      </tr>
      <tr>
        <th>Наименование</th>
        <td>{{ service.name }}</td>
      </tr>
      <tr>
        <th>Бланки</th>
        <td>{{ service.blanks }}</td>
      </tr>
      <tr>
        <th>Контейнеры</th>
        <td>{{ service.container }}</td>
      </tr>
      <tr>
        <th>Дата создания</th>
        <td>{{ service.created_at }}</td>
      </tr>
      <tr>
        <th>Файлы</th>
        <td>
          <form class="upload_file" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_file_form.as_p }}
            <input type="submit" value="Загрузить" >
          </form>
          {% if files %}
            <table>
              {% for file in files %}
                <tr><td><a href="{% url 'download_file' pk=file.pk %}">{{ file }}</a></td></tr>
              {% endfor %}
            </table>

          {% else %}
            <p>Для этого исследования не загружено файлов</p>
          {% endif %}

        </td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
{% endblock content %}
